body {
  overflow-x: hidden;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.85 !important;
}

.movie {
  user-select: none;
  transition: all 0.2s ease-in-out;

  position: relative;
}

.col:nth-child(even) > .movie:hover {
  transform: rotate(-0.5deg) scale(1.025);
}
.col:nth-child(odd) > .movie:hover {
  transform: rotate(0.5deg) scale(1.025);
}

.movie-voted {
  background-color: var(--bs-success);
  border-color: var(--bs-success);
  color: var(--bs-light);
}

.col:nth-child(even) > .movie.movie-voted {
  transform: rotate(1deg) scale(1.05);
}
.col:nth-child(odd) > .movie.movie-voted {
  transform: rotate(-1deg) scale(1.05);
}

.movie > * {
  transition: opacity 0.2s ease-in-out;
}

.movie-voted > * {
  opacity: 0.4;
}

.movie-underage {
  opacity: 0.15;
  pointer-events: none;
}

.movie-rating {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.movie-poster {
  aspect-ratio: 27 / 40;
}
